<!DOCTYPE html>
<html lang="en">

<head>
    <title>Image Dehazing App - Clear Up Your Images</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .jumbotron {
            background-image: url('https://images.unsplash.com/photo-1495102675274-3ba61637d5bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGhhemV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
            background-position: center;
            background-size: cover;
        }

        .card {
            margin-bottom: 20px;
        }

        footer {
            padding: 20px 0;
        }
    </style>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- <a class="navbar-brand" href="#">HazeHunt</a> -->
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="img-fluid"
            style="height: 45px; border-radius: 15px" />

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <!-- Jumbotron -->
    <section class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="font-weight-bold display-2 text-dark">Clear Up Your Hazy Images</h1>
            <p class="text-dark">
                With our image dehazing app, you can transform your blurry and hazy
                photos into clear and vivid images.
            </p>
            <a href="/main" class="btn btn-primary ">Click to dehaze <i class="ml-2 fa fa-arrow-right"
                    aria-hidden="true"></i></a>
        </div>
    </section>

    <!-- Features Section -->
    <section class="container my-5">

        <h1 class="font-weight-bold text-center my-3 ">Why use HazeHunt ?</h1>

        <div class="row mt-5">
            <div class="col-md-4 text-center mt-3">
                <i class="fa fa-low-vision mb-2 text-secondary" style="font-size: 45px;"></i>
                <h5 class="text-secondary">Removes haze</h5>
            </div>
            <div class="col-md-4 text-center mt-3">
                <i class="fa fa-desktop mb-2 text-secondary" style="font-size: 45px;"></i>
                <h5 class="text-secondary">User-friendly experience</h5>
            </div>
            <div class="col-md-4 text-center mt-3">
                <i class="fa fa-clock-o mb-2 text-secondary" style="font-size: 45px;"></i>
                <h5 class="text-secondary">Quick response</h5>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4 text-center mt-3">
                <i class="fa fa-picture-o mb-2 text-secondary" style="font-size: 45px;"></i>
                <h5 class="text-secondary">JPG,PNG,JPEG</h5>
            </div>
            <div class="col-md-4 text-center mt-3">
                <i class="fa fa-download mb-2 text-secondary" style="font-size: 45px;"></i>
                <h5 class="text-secondary">Download output</h5>
            </div>
            <div class="col-md-4 text-center mt-3">
                <i class="fa fa-database mb-2 text-secondary" style="font-size: 45px;"></i>
                <h5 class="text-secondary">Save image on permission</h5>
            </div>
        </div>

    </section>


    <!-- Feedback section -->
    <section id="" class="py-5 mt-5 bg-dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9">
                    <div class="call-action-content text-center">
                        <h2 class="text-light">Feel free to leave a feedback</h2>
                        <a href="/contactus" class="btn btn-primary my-3">
                            Contact Us &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <!-- call action content -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>

    <!-- Guidelines -->
    <section id="" class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="">
                    <div class="text-center mb-4">
                        <h2 class="mb-5">Guidelines</h2>
                        <img src="./../static/images/guidlines.png" class="rounded img-fluid" alt="Guidlines" />
                    </div>
                    <!-- call action content -->
                    <ol>
                        <li style="list-style: none">
                            <img src="./../static/images/g1.png" /> &nbsp; Input the hazy
                            image to the dropzone area.
                        </li>
                        <li style="list-style: none">
                            <img src="./../static/images/g2.png" /> &nbsp; Click the dehaaze
                            button. Remove and select the image again if its not correct.
                        </li>
                        <li style="list-style: none">
                            <img src="./../static/images/g3.png" /> &nbsp; Input image and
                            Output image are displayed.
                        </li>
                        <li style="list-style: none">
                            <img src="./../static/images/g4.png" /> &nbsp; Save the image to
                            the server based on users preference.
                        </li>
                        <li style="list-style: none">
                            <img src="./../static/images/g5.png" /> &nbsp; Download the
                            dehazed image.
                        </li>
                        <li style="list-style: none">
                            <img src="./../static/images/g6.png" /> &nbsp; Dehaze a new
                            image.
                        </li>
                    </ol>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>

    <!-- Footer -->
    <footer class="bg-dark text-white">
        <div class="container">
            <div class="row text-center">
                <div class="mx-auto">
                    <p class="m-0">HazeHunt</p>
                    <p class="m-0">&copy; 2023 Image Dehazing App</p>
                    <p class="m-0"><a href="">Privacy Policy</a></p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>